html {
  overflow-x: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open sans', sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

#sections {
  height: 100%;
  overflow: auto;
  position: relative;
}

.section {
  position: relative;
  overflow: hidden;
}

.first-section {
  background: #093575;
  height: 100vh;
}

/* .second-section .item .icon {
  font-size: 25px;
} */
/* https://www.pexels.com/photo/low-angle-shot-of-rock-formation-1366909/ */
.third-section {
  background: #fff;
  background-image: url(../assets/img/mountain.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fourth-section {
  height: 100vh;
}

.fifth-section {
  height: 100vh;
}

/* FIRST SECTION */
.hero-content {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 300;
  max-width: 100%;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 0px 15px;
}

.hero-content .name {
  font-size: 36px;
}

.hero-content p {
  margin-bottom: 0;
  display: inline-block;
  white-space: pre;
}
.hero-content .name p:last-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 720px) {
  #myFunction {
    font-size: 30px;
  }
  #welcomePhrase {
    font-size: 40px;
  }
  #myName {
    font-size: 50px;
  }
}

@media screen and (min-width: 576px) and (max-width: 719px) {
  #myFunction {
    font-size: 20px;
  }
  #welcomePhrase {
    font-size: 30px;
  }
  #myName {
    font-size: 40px;
  }
}

@media screen and (max-width: 575px) {
  #myFunction {
    font-size: 14px;
  }
  #welcomePhrase {
    font-size: 18px;
  }
  #myName {
    font-size: 22px;
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.popover-default {
  background: #1c1c1c;
}
.popover-default.bs-popover-auto[x-placement^=bottom] .arrow::after, .popover-default.bs-popover-bottom .arrow::after  {
  border-bottom-color: #1c1c1c;
}
.bs-popover-auto[x-placement^=bottom]>.arrow::before, .bs-popover-bottom>.arrow::before {
  top: 0;
  border-width: 0 .5rem .5rem .5rem;
  border-bottom-color: transparent;
}
.popover-default .popover-body {
  color: #fff;
}
